.loading {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 400px;
  background: #f1f3f5;
  opacity: 0.5;
}

.user-list {
  position: relative;
  width: 95%;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  background-image: linear-gradient(to bottom right, #f8f9fa, #dee2e6);

  .picture {
    width: 3rem;
    height: 3rem;
    border-radius: 50%;
    background-repeat: no-repeat;
    background-size: 3rem 3rem;
  }

  .picture-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 3.7rem;
    height: 3.7rem;
    border-radius: 50%;
    background: #e5dbff;
    margin: 1rem 0.5rem;
  }

  .user {
    display: flex;
    flex-flow: row nowrap;
    justify-content: flex-start;
    align-items: center;
    align-content: center;
    border: 1px solid gray;
    border-radius: 15px;
    margin: 0.5rem 0.5rem;
    height: 85px;
    width: 30%;
    background: #9775fa;
    color: white;
    box-shadow: 5px 10px 20px rgba(#868e96, 0.5);
    font-family: 'Quicksand', sans-serif;
    min-width: 18rem;
  }
}