{
	"extends": ["react-app", "eslint:recommended"],
	"plugins": ["import", "react", "jsx-a11y"],
	"rules": {
		"no-console": 0,
		"react/jsx-uses-react": "error",
		"react/jsx-uses-vars": "error"
	},
	"settings": {
		"import/resolver": {
			"node": {
				"moduleDirectory": ["node_modules", "src/"]
			},
			"webpack": {
				"config": "config/webpack/webpack.config.dev.js"
			}
		}
	}
}