.home-wrap {
  position: relative;
  width: 95%;
  /*
  display: grid;
  grid-template-columns: repeat(3, 3.3fr);
  grid-gap: 2rem;
  */
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;

  .item {
    margin: 1.5rem 1.5rem;
    width: 14rem;
    height: 16rem;
    background-size: 14rem;
    background-repeat: no-repeat;
    border-radius: 10%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;
  }

  .title {
    height: 3.7rem;
    padding: 0.3rem 1rem;
    background: rgba(255, 255, 255, 0.5);
  }

  .rating-img {
    padding-left: 0.3rem;
    width: 1rem;
    height: 1rem;
  }
}
