@import url("https://fonts.googleapis.com/css?family=Maven+Pro");

body {
  all: unset;
}

a:link {
  text-decoration: none;
  color: inherit;
  cursor: default;
}

// Loading 컴포넌트
.Loading {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  min-height: 400px;
  background: #f1f3f5;
  opacity: 0.5;
}

// Home 컴포넌트
.Home {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  font-family: "Maven Pro", sans-serif;
}

// Movie 컴포넌트
.Movie {
  .card {
    margin: 1.5rem 1.5rem;
    width: 14rem;
    height: 16rem;
    background-size: 14rem;
    background-repeat: no-repeat;
    border-radius: 1.5rem;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: flex-end;

    &:hover {
      cursor: pointer;
      box-shadow: 5px 10px 18px rgba(#888888, 0.5);
    }
  }

  .title {
    color: #343a40;
    font-weight: bold;
    height: 3.7rem;
    padding: 0.3rem 1rem;
    background: rgba(255, 255, 255, 0.8);
    border-bottom-left-radius: 1.47rem;
    border-bottom-right-radius: 1.47rem;
  }

  .rating-img {
    padding-left: 0.3rem;
    width: 1rem;
    height: 1rem;
  }
}

// Detail 컴포넌트
.Detail {
  padding: 1rem 1rem;
  font-family: "Maven Pro", sans-serif;
  background-color: #f1f3f5;

  // 상단 포스터와 설명
  .top {
    background-color: white;
    padding: 0.5rem 0.5rem;
    border: 2px solid #e64980;
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 0.5rem;

    .header {
      font-weight: bold;
      font-size: 1.5rem;
      grid-column: 1/3;
    }

    .desc {
      div {
        padding-top: 0.3rem;
      }
    }
  }

  // 하단 추천영화들 리스트
  .suggestions {
    margin-top: 2.5rem;

    .header {
      font-size: 1.5rem;
      font-weight: bold;
    }

    .movie-list {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
    }

    .Movie .card {
      margin: 1.5rem 0 !important;
    }
  }
}
